<h1>Congratz, <%= @user.display_full_name %></h1>

<p>
	You have successfully activated your OK Councillr account, your email is: <%= @user.display_full_name %>.
</p>
<p>
	To login to the site, just follow this link: <%= @url %>.
</p>
<p>
	Thanks for joining and have a great day!
</p>
