<h1>Welcome to OK Councillr, <%= @user.display_full_name %></h1>

<p>
	You have successfully signed up to OK Councillr, your email is: <%= @user.email %>.
</p>
<p>
	To login to the site, just follow this link: <%= @url %>.
</p>
<p>
	Thanks for joining and have a great day!
</p>
