<h1>OKCouncillr API</h1>

<div class="columns medium-4">
	<h2>Councillors</h2>
	<p>URL: api/councillors</p>
</div>
<div class="columns medium-8">
	<%= coderay(@councillors).html_safe %>
</div>
<div class="columns medium-4">
	<h2>Item</h2>
	<p>URL: api/item/75</p>
</div>
<div class="columns medium-8">
	<%= coderay(@item).html_safe %>
</div>