<section class="user-form">
	<h2>Edit Profile</h2>
	<div class="user-form-container">
		<%= render 'user_form' %>
	</div>
	<div id="deleteAlert" class="reveal-modal small" data-reveal aria-labelledby="deleteTitle" aria-hidden="true" role="dialog">
		<h2 id="deleteTitle">Are You Sure?</h2>
		<p class="lead">Deleting your account will result in your voice not being heard</p>

		<%= link_to "I understand the consequences, delete this account", @user, method: :delete, class: "button alert" %>
		<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<section class="form-field clearfix delete">
		<h4>Delete This Account</h4>
		<div>
			Once you delete this account, there is no going back. Please be certain
		</div>
		<div class="right">
			<%= link_to("Delete Account", "#", data: { reveal_id: :deleteAlert }, class: "button alert") %>
		</div>
	</section>
</section>
