<div class="logo-img">
	<%= image_tag("ok-councillr-logo-white.svg")  %>
</div>

<div class="row">
	<div class="medium-12 columns tagline">
		<p>Keeping you up-to-date with City Hall</p>
	</div>

	<div class="medium-4 columns"> 
		<div class="info-card">
			<h5>HAVE YOUR SAY</h5>
			<%= link_to('<i class="fa fa-heart fa-4x"></i>'.html_safe, item_path(find_next_item(current_user))) %>
			<p>Vote 'Yes' or 'No' on City Council agenda items, or skip items to abstain.</p>
			
		</div>
	</div>

	<div class="medium-4 columns">
		<div class="info-card">
			<h5>GET TO KNOW YOUR COUNCILLOR</h5>
			<%= link_to '<i class="fa fa-users fa-4x"></i>'.html_safe, councillors_path %>
			<p>View your city councillor's voting history and contact details.</p>
		</div>
	</div>

	<div class="medium-4 columns">
		<div class="info-card">
			<h5>ACCESS THE DATA</h5> 
			<%= link_to '<i class="fa fa-database fa-4x"></i>'.html_safe, "/api/docs" %>
			<p>Connect to our API to access City Council agendas, minutes and more.</p>			
		</div>
	</div>		
</div>

<div class="row signup-row">
	<div class="medium-6 columns">
		<a href="/login" class="button welcome-buttons">LOGIN</a>
	</div>
	<div class="medium-6 columns">
		<a href="/signup" class="button welcome-buttons">SIGN UP</a>
	</div>

</div>
