<div id="error-message">
	<p><%= pluralize errors.count, "error" %> probibited this form from being submitted.</p>

	<ul>
		<% errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
	</ul>

</div>