<div class="past-vote yes-vote">
	<div class="row">
		<div class="columns medium-6">
		</div>

		<div class="columns medium-6 next">
			<%=link_to 'Log in to vote <i class="fa fa-arrow-circle-right"></i>'.html_safe, :login, class: "button extend right" %>
		</div>
	</div>
</div>