<div class="past-vote <%=@past_vote.downcase %>-vote">
	<div class="row">
		<div class="columns medium-4">
			<h4>Your vote for this item: <%= @past_vote %></h4>
		</div>

		<div class="columns medium-4 next">
			<%=link_to 'Get Voting <i class="fa fa-arrow-circle-right"></i>'.html_safe, item_path(find_next_item(current_user)), class: "button extend" %>
		</div>
	</div>
</div>
