$dark_blue: #0f3890;
$mouseover_dark_blue: #0F387C;
$white: #FFF;

$nav_bg: $dark_blue;
$mouseover_menu: $mouseover_dark_blue;
$text_colour: $white;

$header_bg: $dark_blue;
$header_colour: $white;

$no_color: #FF6B6B;
$skip_color: gray;
$yes_color:#00CC66;
