$dark_blue: #0f3890;
$mouseover_dark_blue: #0F387C;

$white: #FFF;
$off_black: #303030;
$off_white: #F4F4F4;

$no_color: #F26149;
$skip_color: #F2CC81;
$yes_color:#AED25B;

$body_background: #EAEAEA;
$wrapper_background: #F4F4F4;

$nav_bg: $skip_color;
$mouseover_menu: $mouseover_dark_blue;
$text_colour: $white;

$header_bg: $dark_blue;
$header_colour: $white;

