// Place all the styles related to the Councillors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.councillors {
	text-align: center;
	.card {
		transition: background 1s ease,
			color 1s ease, 
			opacity 1s ease;
		border-radius: 5px;
	}
	.card:hover {
		background-color: lighten($primary-color, 15%);
		opacity: 0.8;
		color: white;
		transition: background-color 1s ease, 
			opacity 1s ease, 
			color 1s ease;
		h4 {
			color: white;
		}
	}

	h4 {
		font-weight: 1.2rem;
	}
	p {
		font-size: 0.874rem;
	}
}
.profile img {
	border: 1px solid gray;
	padding: 0.5rem;
	border-radius: 5px;
}
.councillor-info {
	h3 {
		font-weight: bold;
	}
	p {
		font-size: 0.875rem;
		margin-bottom: 0.2rem;	
	}
}
.vote-history {
	padding-top: 2rem;
}

.committee-info {
	padding-top: 2.2rem;
}

.committees {
	font-size: 0.875rem;
}