// Place all the styles related to the Councillors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medium-block-grid-6 {
	text-align: center;
}

.profile img {
	border: 1px solid grey;
	padding: 0.5rem;
	border-radius: 5px;
}

.councillor-info {
	h3 {
		font-weight: bold;
	}
	p {
		font-size: 0.875rem;
		margin-bottom: 0.2rem;	
	}
}

.vote-history {
	padding-top: 2rem;
}