/***********  Items Index Page ***********/
 
.carried {
  background: $yes_color;
}

.lost {
  background: $no_color;
}

.pending {
  background: $skip_color;
}
 
/***********  Items Show Page ***********/

#items-show{ 
  main { 
    padding-bottom: 10rem;
  }
}

.vote-buttons {
  padding-top: 1rem;
	position: fixed;
	bottom: 0;
	background: $nav_bg;
  width: 100%;
}

.vote-form {
  @extend .small-4;
  float:left; 
  text-align: center;
}

.vote {
  @extend .button;
  @extend .round;
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;
  padding:0;

  &.no {
    background-color: $no_color;        
  }
  &.skip {
    background-color: $skip_color;        
  }
  &.yes {
    background-color: $yes_color;        
    padding-top: .2rem;
  }
}

.skip-vote {
    button {
        background-color: gray;        
    }
}

.past-vote {
  @extend .vote-buttons;
  h4 {
    font-family: $font-family-sans-serif;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    height: 5rem;
    line-height: 5rem;
  }

  &.no-vote {
    background: $no_color;
  }

  &.yes-vote {
    background: $yes_color;
  }

  &.skip-vote {
    background: $skip_color;
  }
  
  .next {
    padding-top: 0.75rem;
    .button {
      font-size: 1.5rem;
      background-color: transparent;
    }
  }
}

.accordion
{

  .accordion-navigation
  { 
    a {
    border-bottom: 1px solid #e0e0e0;
    }
    
    .fa {
      transform: rotate(0deg);
      transition: transform 0.4s ease;
    }

    &.active {
      .fa {
        transform: rotate(90deg);
        transition: transform 0.4s ease;
      }
    }

    .content
    {
      display: block;
      max-height: 0;
      overflow-y: auto;
      // leave the top and bottom padding at 0, have the sides match the .active element's padding value below
      padding: rem-calc(0 16);
      // change as desired but the transition needs to cover both max-height and padding; this is how long the panel takes to close
      transition: ease 0.4s all;
      &.active
      {
        // change as desired
        max-height: 200vh;
        // change as desired
        padding: rem-calc(16);
        // change as desired; this is how long the panel takes to open
        transition: ease 0.4s all;
        // change as desired, but for best results keep at around half the other transition durations
        transition-delay: 0.2s;
      }
    }
  }
}