/***********  Items Index Page ***********/
 
.carried {
  background: $yes_color;
}

.lost {
  background: $no_color;
}

.pending {
  background: $skip_color;
}
 
/***********  Items Show Page ***********/

#items-show{ 
  main { 
    padding-bottom: 10rem;
  }
}

.vote-buttons {
  padding-top: 1rem;
	position: fixed;
	bottom: 0;
	background: $nav_bg;
  width: 100%;
}

.vote-form {
  @extend .small-4;
  float:left; 
  text-align: center;
}

.vote {
  @extend .button;
  @extend .round;
  height: 5rem;
  width: 5rem;
  font-size: 1.5rem;

  &.no {
    background-color: $no_color;        
  }
  &.skip {
    background-color: $skip_color;        
  }
  &.yes {
    background-color: $yes_color;        
    padding-top: 1.1rem;
  }
}

.skip-vote {
    button {
        background-color: gray;        
    }
}

.past-vote {
    @extend .large-6;
    @extend .columns;
    @extend .large-offset-3;
}