.main-header {
	h1 {
		line-height: 2.8125rem;
  	font-size: 1.0625rem;
  	margin: 0;
		color: $text_colour
	}

	.navigation {
		background-color: $nav_bg;
	}

	.smaller-device-menu {
		@extend .toggle-topbar;
		@extend .menu-icon;
	}

	.main-menu {
		ul li {
			background: $nav_bg;
		}

		.dropdown li:not(.has-form):not(.active):hover > a:not(.button):not(.submit) {
			background: $mouseover_menu;
		}

		li:not(.has-form) a:not(.button):not(.submit) {
			background: $nav_bg;
		}
	}

	.main-menu-right-side {
	}
}

.main-header {
	background-color: $header_bg;
	color: $header_colour
}