body {
	overflow-y: scroll;
}

h2, 
h3, 
h4 {
	color: $black;
	letter-spacing: -0.08rem;
	line-height: 1em;
}

.main-header {

	border-bottom: 3px solid $primary-color;

	.title-area {

		h1 {
			a {
				background: url(ok-councillr-logo-no-line.svg) no-repeat;
				display: block;
				height: 45px;
				overflow: hidden;
				text-indent: 300px;
				width: 180px;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0px;
				margin: 0.5rem 1rem 0rem;
			}
		}
	}

	.smaller-device-menu {
		@extend .toggle-topbar;
		@extend .menu-icon;
	}

	.main-menu {
		ul li {
			// background: $nav_bg;
			
			a {
				color: $vote-no-color;
			}
		}
		
		.dropdown {
			li:not(.has-form):not(.active):hover {
				> a:not(.button):not(.submit) {
					background: $vote-no-color;
				}
			}
		}

		li:not(.has-form) a:not(.button):not(.submit) {
			// background: $nav_bg;
		}
	}

}

.wrapper {
	margin-top: 1rem;
	background: $white;
	padding: 1.5rem;
	border-radius: 5px;
}

.flash {
	@extend .alert-box; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1rem;
 }

.notice-flash,
.alert-flash {
	@extend .flash;
	position: absolute;
	width: 100%;
  z-index: 1;
}

.alert-flash {
	@extend .alert; 
}

.notice-flash {
	@extend .success; 
}

.form-field {
	@extend .large-12; 
	@extend .columns;
}
