body {
	overflow-y: scroll;
}

h2 {
	color: #0f3890;
}

.main-header {
	.title-area {
		h1 {
			font-family: $title-font;
	  	line-height: 2.8125rem;
			font-size: 1.75rem;
	  	margin: 0px;
			a {
				color: $text_colour;
				.fa {
					color: $no-color;
				}
			}
		}
	}

	.navigation {
		background-color: $nav_bg;
	}

	.smaller-device-menu {
		@extend .toggle-topbar;
		@extend .menu-icon;
	}

	.main-menu {
		ul li {
			background: $nav_bg;
		}

		.dropdown {
			li:not(.has-form):not(.active):hover {
				> a:not(.button):not(.submit) {
					background: $mouseover_menu;
				}
			}
		}

		li:not(.has-form) a:not(.button):not(.submit) {
			background: $nav_bg;
		}
	}

	.main-menu-right-side {
	}
}

.flash {
	@extend .alert-box; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1rem;
 }

.alert-flash {
	@extend .flash;
	@extend .alert; 
}

.notice-flash {
	@extend .flash;
	@extend .success; 
}

.form-field {
	@extend .large-12; 
	@extend .columns;
}
