.main-header {
	// @extend .row;
	// max-width: 100%;

	.title-area {
		@extend .large-4;
		@extend .medium-4;
		@extend .small-12;
		@extend .columns;

		h1 {
	  	line-height: 2.8125rem;
			font-size: 1.75rem;
	  	margin: 0px;
			a {
				color: $text_colour;
			}
		}
	}

	.navigation {
		background-color: $nav_bg;
	}

	.smaller-device-menu {
		@extend .toggle-topbar;
		@extend .menu-icon;
	}

	.main-menu {
		@extend .large-8;
		@extend .medium-8;
		@extend .small-12;
		@extend .columns;
		ul li {
			background: $nav_bg;
		}

		.dropdown {
			li:not(.has-form):not(.active):hover {
				> a:not(.button):not(.submit) {
					background: $mouseover_menu;
				}
			}
		}

		li:not(.has-form) a:not(.button):not(.submit) {
			background: $nav_bg;
		}
	}

	.main-menu-right-side {
	}
}

.main-header {
	background-color: $header_bg;
	color: $header_colour
}

.flash {
	@extend .alert-box; 
	@extend .radius;
	width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1rem;
  }

.alert-flash {
	@extend .flash;
	@extend .alert; 
}

.notice-flash {
	@extend .flash;
	@extend .success; 
}


