// Place all the styles related to the user_votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote-yes {
	background-color: $yes_color; 
}

.vote-no {
	background-color: $vote-no-color;
}

.vote-skip {
	background-color: $skip_color;
}