// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form {
	@extend .large-6;
	@extend .columns;
	@extend .large-offset-3;
}

.submit {
	@extend .button;
	@extend .success;
	@extend .expanded;
}

.page-title {
	@extend .user-form;
}

.error-message {
	@extend .panel;
}