// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-form-password .password {
	margin-bottom: 0;
}

.forgot-password {
	text-align: right;
	font-size: 0.8em;
}
