// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
#welcome-index {
	background: $tomato-soup;

	.main-header {
		border: none;

		.top-bar {
			background: $tomato-soup;			
		}	

		.name {
			display: none;
		}

		.main-menu {

			ul.dropdown {
				box-shadow: 0px;
				background: darken($tomato-soup, 1%);
				
				li:not(.has-form):not(.active):hover {
					> a:not(.button):not(.submit) {
						background: darken($tomato-soup, 1%);
					}
				}
			}
		}

		.top-bar-section li:not(.has-form) 
		a:not(.button):not(.vote):not(.submit):hover{
			background: darken($tomato-soup, 10%);
		}

		a {
			color: $white;
			background: $tomato-soup;			
		}
	}

	main {
		background: $tomato-soup;
	}
	 
	h1, h4, h5 {
		color: $white;
		font-weight: lighter;
		text-align: center;
	}
}

.logo-img {
	height: 80%;
	width: 80%;
	margin: auto;
	float: none;
}

.info-card {
	background: none;
	margin: 1rem;
	border-radius: 8px;
	border: 2px solid $white;
	height: 285px;
	padding: .7rem;
	padding-bottom: 1.5rem;

	h5 {
		height: 60px;
	}

	i {
		text-align: center;
		width: 100%;
		color: $ghost;
		padding-bottom: 20px;
	}

	p {
		color: $white;
		font-weight: lighter;
	}
}

.welcome-buttons {
	border-radius: 5px;
	margin: 1.5rem;
	width: 90%;
	border: 2px solid $white;
	background-color: darken($teal, 5%)
}
